@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
}

body {
    background: linear-gradient(#F2D079, #CD9400);
    margin: 0;
    overflow: hidden;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    width: 800px;
    overflow: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-container>img {
    width: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s ease;
    width: 100%;
}

.container>.info-box {
    background: #191414;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    padding: 20px 26px 20px 80px;
    gap: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    position: relative;
}

.info-box .song-name {
    color: #fff;
    font-weight: bold;
    font-size: .9rem;
}

.info-box .album-name {
    color: #f2f2f2;
    font-weight: 100;
    font-size: .7rem;
}

.info-box .progress-bar {
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.info-box .progress-bar .fill-bar {
    width: 0;
    height: 6px;
    border-radius: 20px;
    background: #F2D079;
}

.info-box .time {
    color: #f2f2f2;
    font-weight: 200;
    font-size: .6rem;
}

.container .control-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
    background-color: #302E28;
    border-radius: 20px;

    width: calc(100% - 100px);
    height: 68px;
    max-width: 450px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.controls-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    cursor: pointer;
}

.container .control-box #play-pause-button {
    background-color: #bebebe;
    padding: 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.container .control-box #play-pause-button:hover {
    background-color: #43484f;
}

#play-pause-button img {
    width: 60%;
    height: 60%;
}

.controls-button img {
    width: 100%;
    height: 100%;
}

.disk .cover.active {
    animation: rotate 3s linear 0s infinite forwards;
}

.disk .cover {
    width: 140px;
    height: 140px;
    position: absolute;
    top: -16px;
    left: -75px;
    border-radius: 50%;
    background: url("res/assets/cover_1.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    border: 1px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.disk .circle {
    width: 30px;
    height: 30px;
    background-color: #f8f8f8;
    z-index: 1;
    border-radius: 50%;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.playlist-button {
    display: none;
    position: absolute;
    top: 95%;

    padding: 15px;
    background-color: #191414;
    color: #f8f8f8;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    z-index: -1;

    transition: all 0.1s ease .1s;
}

.playlist-section {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #191414;
    overflow: hidden;

    height: 50%;
    width: 100%;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);

    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.5s ease;
    overflow-x: hidden;

    z-index: 200;
}

.playlist-section.active {
    border-radius: 20px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-container .logo.active {
    width: 260px;
    height: 260px;
    top: 25px;
}

.playlist-label {
    color: #f2f2f2;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 1.5em;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    align-items: center;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.playlist.move-up{
    transform: translateY(-100vh);
}

.playlist-section .playlist .maginoo-pilyo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.playlist-section .playlist .maginoo-pilyo>img {
    max-width: 300px;
    padding-block: 30px;
}

.playlist-section .playlist .maginoo-pilyo img {
    width: 100%;
    height: 100%;
}

.playlist-section .playlist .albums {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.playlist-section .playlist .albums .prev-album,
.playlist-section .playlist .albums .next-album {
    display: flex;
    width: 120px !important;
    height: 120px !important;

    overflow: hidden;
}

.playlist-section .playlist .albums .prev-album {
    position: absolute;
    left: 15%;
    transform: rotate(-15deg);
}

.playlist-section .playlist .albums .next-album {
    position: absolute;
    right: 15%;
    transform: rotate(15deg);
}

.playlist-section .playlist .albums .present-album {
    width: 160px;
    height: 160px;
    z-index: 100;

    overflow: hidden;
}

.playlist-section .playlist .albums .present-album .present-album-slider {
    display: flex;
    width: 100%;
    height: 100%;
}

.playlist-section .playlist .albums .prev-album .prev-album-slider,
.playlist-section .playlist .albums .next-album .next-album-slider {
    display: flex;
    width: 100%;
    height: 100%;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.playlist-section .playlist .albums .present-album .present-album-slider .present-slide {
    flex-shrink: 0;
    scroll-snap-align: start;
    border: 1px solid #f2f2f2;
}

.playlist-section .playlist .albums .prev-album .prev-album-slider .prev-slide,
.playlist-section .playlist .albums .next-album .next-album-slider .next-slide {
    flex-shrink: 0;

    scroll-snap-align: start;

    border: 1px solid #5f5f5f;
}

.playlist-section .playlist .albums .present-album .present-album-slider .present-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playlist-section .playlist .albums .prev-album .prev-album-slider .prev-slide img,
.playlist-section .playlist .albums .next-album .next-album-slider .next-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* third portion (album info) */
.playlist-section .playlist .album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px 0;
}

.playlist-section .playlist .album-info h1 {
    color: #b6b6b6;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
}

.playlist-section .playlist .album-info h2 {
    color: #585656;
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
    padding-block: 10px;
}

/* album songs */
.songs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;

    transform: translateY(100vh);
    transition: transform 0.5s ease-in-out;
}

.songs.active {
    transform: translateY(0);
}

.songs > .header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
}

.header > img {
    width: 50px;
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 0;
}

.header > h2 {
    padding: 10px;
    color: #f8f8f8;
}

.songs>button {
    display: flex;
    align-items: center;
    padding-left: 20px;

    outline: none;
    border: none;
    background: #d9d9d911;
    width: 100%;
}

button>.song-album {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.song-album>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

button>.song-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #f2f2f2;

    padding: 10px;
}

button>.song-info>.title {
    font-size: .8rem;
    font-weight: 700;
}

button>.song-info>.duration {
    font-size: .7rem;
    font-weight: 100;
}

.playlist-section .back {
    display: none;
    width: 30px;
    height: 39px;

    position: absolute;
    top: 0;
    right: 40px;
}

.playlist-section .back.active {
    display: flex;
}

.playlist-section .back img {
    width: 100%;
    height: 100%;
}