@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(#F2D079, #CD9400);
    background-repeat: no-repeat;
    overflow: hidden;
}
    
.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100svh;
    position: relative;
    overflow: hidden;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s ease;
    width: 100%;
}

@media screen and (max-height: 800px) and (max-width: 450px) {
    .all{
        justify-content: center;
    }

    .logo-container {
        position: relative;
        animation: downward 0.5s ease-out forwards;
    }
    .logo-container.active {
        animation: upward 0.5s ease forwards;
    }

    @keyframes upward {
        0%{
            top: 0;
        }
        100%{
            top: -140px;
        }
    }

    @keyframes downward {
        0%{
            top: -140px;
        }
        100%{
            top: 0px;
        }
    }
}

/* Hevnem Logo */
/* dto mo apply ung position */
.logo-container .logo { 
    display: flex;
    width: 350px;
    height: 350px;
    transition: width 0.5s ease, height 0.5s ease, bottom 0.5s ease;
}

.logo-container .logo img {
    width: 100%;
    height: 100%;
}

/* Music Box */
.container .info-box {
    background: #191414;
    width: calc(100% - 150px);
    max-width: 400px;
    display: flex;
    flex-direction: column;

    padding: 10px 16px 10px 70px;
    gap: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    margin: 0 15px;
    position: relative;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.container .info-box .song-name {
    color: #fff;
    font-weight: bold;
    font-size: .9rem;
}

.container .info-box .album-name {
    color: #f2f2f2;
    font-weight: 100;
    font-size: .7rem;
}

.container .info-box .progress-bar {
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.container .info-box .progress-bar .fill-bar {
    width: 0;
    height: 6px;
    border-radius: 20px;
    background: #F2D079;
}

.container .info-box .time {
    color: #f2f2f2;
    font-weight: 200;
    font-size: .6rem;
}

/* lower */
.container .control-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
    background-color: #302E28;
    border-radius: 20px;

    width: calc(100% - 100px);
    height: 68px;
    max-width: 450px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

/* Icons */

.container .control-box #backward-button,
.container .control-box #play-pause-button,
.container .control-box #forward-button,
.container .control-box #shuffle-button,
.container .control-box #repeat-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 25px;
    height: 25px;

    cursor: pointer;
}

.container .control-box #play-pause-button {
    background-color: #71767E;
    padding: 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.container .control-box #play-pause-button:hover {
    background-color: #43484f;
}

.container .control-box #play-pause-button img{
    width: 60%;
    height: 60%;
}

.container .control-box img{
    width: 100%;
    height: 100%;
}

/* Disk */
.container .disk {
    max-width: 120px;
}

.container .disk .cover.active{
    animation: rotate 3s linear 0s infinite forwards;
}

.container .disk .cover{
    width: 110px;
    height: 110px;
    position: absolute;
    top: -6px;
    left: -55px;
    border-radius: 50%;
    background: url("res/assets/cover_1.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    border: 1px solid white;
}

.container .disk .circle{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 40%;
    top: 40%;
    background-color: #fff;
    z-index: 1;
    border-radius: 50%;
}

.container .controls #play{
    background-color: #1db954;
    color: #fff;
    padding: 15px 17px 14px 18px;
    font-size: 28px;
    border-radius: 50%;
}

.container .controls #play:hover{
    background: #189945;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/* playlist panel */
.playlist-songs {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: #191414;
    width: 60%;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    padding: 10px;

    position: absolute;
    transition: all 0.5s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.playlist-songs.active {
    border-radius: 40px;
    height: calc(100% - 280px);
    width: calc(100% - 46px);
    margin-bottom: 15px;
}

.logo-container .logo.active {
    width: 260px;
    height: 260px;
    top: 25px;
}

.container.active{
    opacity: 0;
    transform: scale(-100%);
    flex-direction: column;
    align-items: center;
}

.playlist-songs .playlist-label {
    color: #f2f2f2;
    font-weight: 900;
    letter-spacing: 2px;

    padding-bottom: 20px;
}

.playlist-songs .playlist-label.active {
    font-size: 1.2rem;
}
/* end of code */

/* This one holds the album playlist and the song playlist */
.playlist-songs .playlist { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* First Portion (Maginoo Pilyo) */
.playlist-songs .playlist .maginoo-pilyo {
    display: flex;
    width: 280px;
    height: 160px;

    margin-bottom: -30px;
}

.playlist-songs .playlist .maginoo-pilyo img{
    width: 100%;
    height: 100%;
}
/* end */

/* Second Portion (Albums) */
.playlist-songs .playlist .albums {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.playlist-songs .playlist .albums .prev-album,
.playlist-songs .playlist .albums .next-album {
    display: flex;
    width: 120px;
    height: 120px;

    overflow: hidden;
}

.playlist-songs .playlist .albums .prev-album {
    position: absolute;
    left: 20px;
    transform: rotate(-15deg);
}
.playlist-songs .playlist .albums .next-album {
    position: absolute;
    right: 20px;
    transform: rotate(15deg);
}

.playlist-songs .playlist .albums .prev-album .prev-album-slider,
.playlist-songs .playlist .albums .next-album .next-album-slider {
    display: flex;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.playlist-songs .playlist .albums .prev-album .prev-album-slider .prev-slide,
.playlist-songs .playlist .albums .next-album .next-album-slider .next-slide {
    flex-shrink: 0;

    scroll-snap-align: start;

    border: 1px solid #5f5f5f;
}

.playlist-songs .playlist .albums .prev-album .prev-album-slider .prev-slide img,
.playlist-songs .playlist .albums .next-album .next-album-slider .next-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.playlist-songs .playlist .albums .present-album {
    width: 160px;
    height: 160px;
    z-index: 100;

    overflow: hidden;
}

.playlist-songs .playlist .albums .present-album .present-album-slider {
    display: flex;
    width: 100%;
    height: 100%;
}

.playlist-songs .playlist .albums .present-album .present-album-slider .present-slide {
    flex-shrink: 0;
    scroll-snap-align: start;
    border: 1px solid #f2f2f2;
}

.playlist-songs .playlist .albums .present-album .present-album-slider .present-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* third portion (album info) */
.playlist-songs .playlist .album-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 15px 0;
}

.playlist-songs .playlist .album-info h1 {
    color: #b6b6b6;
    font-weight: 500;
    font-size: 1.2rem;
}
.playlist-songs .playlist .album-info h2 {
    color: #585656;
    font-weight: 300;
    font-size: .893rem;
}

@media screen and (min-width: 801px) {
    body{
        justify-content: center;
    }

    .logo-container .logo {
        width: 450px;
        height: 450px;
        margin-bottom: -20px;
    }

    .container .info-box { 
        padding: 10px 16px 10px 60px;
    }

    .container .disk .cover{
        width: 150px;
        height: 150px;
        position: absolute;
        left: -100px;
        top: -30px;
    }

    .container .disk .circle{
        width: 35px;
        height: 35px;
        left: 35%;
        top: 40%;
    }

    .container .control-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 12px 70px;
        background-color: #302E28;
        border-radius: 20px;
    
        width: calc(100% - 100px);
        height: 68px;
        max-width: 450px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    }
}


/* mobile device */
@media screen and (min-height: 650px) and (max-height: 730px) {
    @keyframes upward {
        0%{
            top: 0;
        }
        100%{
            top: -120px;
        }
    }

    .playlist-songs .playlist .maginoo-pilyo {
        display: flex;
        width: 250px;
        height: 130px;
    
        margin-bottom: -30px;
        margin-top: -20px;
    }

    .playlist-songs .playlist .albums .prev-album {
        transform: rotate(-15deg)scale(0.8);
        left: 40px;
    }
    .playlist-songs .playlist .albums .next-album {
        transform: rotate(15deg)scale(0.8);
        right: 40px;
    }
    .playlist-songs .playlist .albums .present-album {
        transform: scale(0.9);
    }

    .playlist-songs .playlist .album-info h1 {
        color: #f2f2f2;
        font-weight: 500;
        font-size: 0.9rem;
    }
    .playlist-songs .playlist .album-info h2 {
        color: #f2f2f2;
        font-weight: 300;
        font-size: .693rem;
    }
}

@media screen and (min-width: 1200px) {

    .all {
        justify-content: center;
    }

    .playlist-songs {
        display: none;
    } 

    .container .disk .cover:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}
@media screen and (min-height: 661px) and (max-height: 670px) {
    .playlist-songs {
        bottom: -48%;
    }

    .logo-container .logo { 
        display: flex;
        width: 300px;
        height: 300px;
        transition: width 0.5s ease, height 0.5s ease, bottom 0.5s ease;
    }

    .container .info-box {
        background: #191414;
        width: calc(100% - 150px);
        max-width: 300px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    
        padding: 10px 16px 10px 70px;
        gap: 5px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    
        margin: 0 15px;
        position: relative;
    
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
    }
}

@media screen and (min-height: 671px) and (max-height: 680px) {
    .playlist-songs {
        bottom: -46%;
    }
}
@media screen and (min-height: 681px) and (max-height: 690px) {
    .playlist-songs {
        bottom: -55%;
    }
}
@media screen and (min-height: 691px) and (max-height: 700px) {
    .playlist-songs {
        bottom: -53%;
    }
}
@media screen and (min-height: 701px) and (max-height: 710px) {
    .playlist-songs {
        bottom: -51.9%;
    }
}
@media screen and (min-height: 711px) and (max-height: 720px) {
    .playlist-songs {
        bottom: -50%;
    }

    .playlist-songs .playlist .album-info h1 {
        font-size: 0.999rem;
    }
    .playlist-songs .playlist .album-info h2 {
        font-size: .793rem;
    }
}
@media screen and (min-height: 721px) and (max-height: 730px) {
    .playlist-songs {
        bottom: -52%;
    }

    .playlist-songs .playlist .album-info h1 {
        font-size: 0.999rem;
    }
    .playlist-songs .playlist .album-info h2 {
        font-size: .793rem;
    }

    .playlist-songs .playlist .maginoo-pilyo {
        margin-top: 0px;
    }
}
@media screen and (min-height: 731px) and (max-height: 750px) {
    .playlist-songs {
        bottom: -50%;
    }
    .playlist-songs .playlist .albums .prev-album {
        transform: rotate(-15deg)scale(0.901);
        left: 40px;
    }
    .playlist-songs .playlist .albums .next-album {
        transform: rotate(15deg)scale(0.901);
        right: 40px;
    }
    .playlist-songs .playlist .albums .present-album {
        transform: scale(0.999);
    }
    .playlist-songs .playlist .maginoo-pilyo {
        margin-top: -20px;
    }
}
@media screen and (min-height: 751px) and (max-height: 800px) {
    .playlist-songs {
        bottom: -50%;
    }
    .playlist-songs .playlist .albums .prev-album {
        left: 30px;
    }
    .playlist-songs .playlist .albums .next-album {
        right: 30px;
    }
    .playlist-songs .playlist .albums .present-album {
        transform: scale(1.05);
    }
}

@media screen and (min-height: 781px) and (max-height: 800px) {
    @keyframes upward {
        0%{
            top: 0;
        }
        100%{
            top: -160px;
        }
    }
}

/* album songs */
.playlist-songs .album-songs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    overflow: auto;
    overflow-y: scroll;
}

.playlist-songs .album-songs .album-songs-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.playlist-songs .album-songs .album-songs-list button {
    display: flex;
    align-items: center;
    padding-left: 20px;

    outline: none;
    border: none;
    background: #d9d9d911;
    border-radius: 20px;
    width: 100%;
}

.playlist-songs .album-songs .album-songs-list button .song-album {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.playlist-songs .album-songs .album-songs-list button .song-album img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.playlist-songs .album-songs .album-songs-list button .song-info {
    display: flex;
    flex-direction: column;
    align-items: start; 
    color: #f2f2f2;

    padding: 10px;
}

.playlist-songs .album-songs .album-songs-list button .song-info .title {
    font-size: .8rem;
    font-weight: 700;
}

.playlist-songs .album-songs .album-songs-list button .song-info .duration{
    font-size: .7rem;
    font-weight: 100;
}

.playlist-songs .back {
    display: none;
    width: 30px;
    height: 39px;

    position: absolute;
    top: 0;
    right: 40px;
}

.playlist-songs .back.active {
    display: flex;
}

.playlist-songs .back img {
    width: 100%;
    height: 100%;
}